import * as indicators from "../";
{% if INCLUDE_MARKET_DATA === true %}import * as marketData from "../../data/market/";{% endif %}


export class {{IND_CAPS_NAME}}
    extends indicators.AbstractIndicator<{{IND_INPUT_DATATYPE}}, {{IND_OUTPUT_DATATYPE}}>
    implements indicators.IIndicator<{{IND_INPUT_DATATYPE}}, {{IND_OUTPUT_DATATYPE}}> {

    static {{IND_CAPS_NAME}}_INDICATOR_NAME: string = "{{IND_CAPS_NAME}}";
    static {{IND_CAPS_NAME}}_INDICATOR_DESCR: string = "{{IND_DESCR}}";

    constructor() {
        super({{IND_CAPS_NAME}}.{{IND_CAPS_NAME}}_INDICATOR_NAME, {{IND_CAPS_NAME}}.{{IND_CAPS_NAME}}_INDICATOR_DESCR);
    }

    receiveData(inputData: {{IND_INPUT_DATATYPE}}): boolean {
        return this.isReady;
    }
}
